/* Main CSS reset here, just some minor resetting tho */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans';
}
p{
  font-size: 16px;
}
img{
  width: 100%;
}
/* Some designs to all buttons to make them interactive */
button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}button:hover,
button:focus{
 transform: scale(.8);
 opacity: 40%;
}
/* =========================================================
  All CSS that changes the header part of the website directly
 ===========================================================*/
header{
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--divider{
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
.header--divider:first-of-type{
  width: 50%;
}.header--divider:first-of-type div{
  width: 80%;
}
.header--taptargets{
  width: 30%;
  position: relative;
}

#avatarimagediv{
  width: 40%;
}
#desktopnav{
  display: none;
}
/* ====================================================================
  The navigation pane for smallscreen devices, all CSS regarding it here
 ====================================================================  */
#mobilenav{
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-image: linear-gradient( to right, #fff 65%, rgba(0,0,0,0.627)35%);
  position: absolute;
  padding: 2.5em 2em;
  transition: .5s linear;
  transform: translateX(-100%);
  z-index: 44;
}
#mobilenav button{
  transition: .3s;
}

#mobilenav ul{
  list-style-type: none;
  font-size: 1.5rem;
  margin-top: 1em;
  line-height: 2;
}
#mobilenav a{
  color: #1d2025;
  text-decoration: none;
}
#mobilenav a:hover,
#mobilenav a:focus{
  text-decoration: underline #ff7d1a 3px;
}
#mobilenav a:hover::before,
#mobilenav a:focus::before{
  content: '~> ';
  color: #ff7d1a;
}
#container{
  position: relative;
}
/* ============================================== 
 All code designing the carousel section actively
 =============================================== */
#carousel{
  position: relative;
}
.carousel--navicons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 1em;
  width: 10%;
  background-color: #fff;
  border-radius: 50%;
  z-index: 42;
}.carousel--navicons img{
  width: 70%;
}.carousel--navicons:first-of-type{
  left: 5%;
  bottom: 40%;
}
.carousel--navicons:nth-of-type(2){
  right: 5%;
  bottom: 40%;
}#thumbnail-div{
  display: none;
}
/* ========================================================================
The section containing the product's information and adding to cart CSS here
=========================================================================== */
#main{
  padding: 1em 1.5em;
}
#main--article h5{
  color: #ff7d1a;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
#main--article h1{
  color: #1d2025;
  margin-bottom: .8em;
}
#main--article p{
  color: #68707d;
}
#main--prices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}
#main--prices h1{
  color: #1d2025;
}
#main--prices h2{
  font-size: 0.83em;
  color: #ff7d1a;
  background-color: #ffede0;
  padding: .5em 1em;
  border-radius: 8px;
  margin-right: 35%;
}
#main--prices p{
  color: #b6bcc8;
  text-decoration: line-through;
}
#main--calc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em 2em;
  background-color: #f7f8fd;
  border-radius: 8px;
}
#main--calc p{
  color: #1d2025;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn-lg{
  width: 100%;
  color: #fff;
  background-color: #ff7d1a;
  display: flex;
  align-items: center;
  padding: 1em 4em;
  border-radius: 8px;
}
#main--button img{
  width: 10%;
  margin-right: .5em;
}
#main--button svg{
  fill: #fff;
}
#main--button p{
  font-size: 1.2rem;
  font-weight: 700;
}
/*===============================================
 All CSS affecting the cart section when opened
================================================= */
#cartsection{
  position: absolute;
  background-color: #fff;
  width: 90%;
  max-width:500px;
  z-index: 43;
  top: 2%;
  right: 5%;
  border-radius: 8px;
  display: none;
  transition: .5s;
}
#cartsection section{
  color: #1d2025;
  font-size: 1.2rem;
  font-weight: 700;
  padding:1em 1em .5em;
  border-bottom: solid .3px #b6bcc8;
  letter-spacing: .5px;
}
#cartsection main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  color: #68707d;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em;
}.cartpara{
  padding: 30% 20%;
}
.cartarticle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}.cartarticle div{
  width: 15%;
}.cartarticle div img{
  border-radius: 3px;
}
.cartarticle p{
  font-weight: 400;
}
#totalOrder{
  color: #1d2025;
  font-weight: 700;
}
#cartFilled{
  display: none;
}
#items-incart{
  position: absolute;
  padding: 0em .7em;
  background-color: #ff7d1a;
  border-radius: 8px;
  color: #fff;
  right: -50%;
  top: -30%;
}
@media(min-width: 700px){
  #opennav{
    display: none;
  }#header{
    border-bottom: #b6bcc8 1px solid;
  }
  .header--divider:first-of-type{
    width: 25%;
  }.header--divider{
    width: 10%;
    max-width: 200px;
  }
  #desktopnav{
    display: block;
    width: 60%;
    padding-right: 5%;
    margin: 0 15% 0 0;
    max-width: 600px;
  }#desktopnav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }#desktopnav ul a{
    text-decoration: none;
    font-size: 1rem;
    color: #68707d;
    transition: .3s;
  }#desktopnav ul a:focus,
  #desktopnav ul a:hover{
    color: #ff7d1a;
  }
  #container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
  }
  #main, #carousel{
    width: 45%;
  }
  .carousel--navicons{
    display: none;
  }#carousel img{
    border-radius: 8px;
  }
  #thumbnail-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
  }#thumbnail-div button{
    width: 20%;
  }
}